<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="mobile-web-app-capable" content="yes">
    <title>VR CAM</title>
    <style>
  *{
    margin: 0;
  }
  .frame{
    display: flex;
    height: 100vh;
  }
	img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 100%
	}
    </style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="frame">
      <img id="bg" class="center" src="{{ url_for('video_feed') }}">
      <img id="bg" class="center" src="{{ url_for('video_feed') }}">
    </div>
    <button id="goFS">Go fullscreen</button>
   <script defer>
     var gamma = '90';
     var alpha = '90';
     var goFS = document.getElementById("goFS");
      goFS.addEventListener("click", function() {
          document.body.requestFullscreen();
      }, false);
     function handleOrientation(event){
      gamma = event.gamma;
      alpha = event.alpha;
    }
    window.addEventListener('deviceorientation', handleOrientation);
    document.documentElement.webkitRequestFullScreen();

    setInterval(function(){ 
      $.ajax({
        url: '/move',
        type: 'POST',
        contentType: 'application/json;charset=UTF-8',
        data:  JSON.stringify({
            'gamma': gamma,
            'alpha': alpha
        }),
        success: function(msg) {
            console.log("pass");
        }               
    });  
    }, 200);


   </script>
  </body>
</html>
