<html>
  <head>
    <title>VR CAM</title>
    <style>
  *{
    margin: 0;
  }
  .frame{
    display: flex;
    height: 100vh;
  }
	img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 100%
	}
    </style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="frame">
      <img id="bg" class="center" src="{{ url_for('video_feed') }}">
      <img id="bg" class="center" src="{{ url_for('video_feed') }}">
    </div>

    <form id="move" action = "http://localhost:5000/login" method = "post">
      <p><input type = "text" name = "gamma" id="gamma" /></p>
      <p><input type = "text" name = "alpha" id="alpha" /></p>
      <p><input type = "submit" value = "submit" /></p>
   </form>   
   <script defer>
     var alpha = '90';
     function handleOrientation(event){
      alpha = event.alpha;
      
    }
    window.addEventListener('deviceorientation', handleOrientation);
  
    setInterval(function(){ 
      $.ajax({
        url: '/move',
        type: 'POST',
        contentType: 'application/json;charset=UTF-8',
        data:  JSON.stringify({
            'gamma': '108',
            'alpha': alpha
        }),
        success: function(msg) {
            console.log("pass");
        }               
    });  
    }, 1000);


   </script>
  </body>
</html>
